body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  z-index: -1;
  box-sizing: border-box;
  color: black;
  background-color: #ffffff;
  position: relative;
  
}

.form-control input:focus{
  outline-style: none;
}
.no-entry{
  font-size: 30px;
  margin: 20px 30%;
}
/* The Modal (background) */
.modal-box {
  display: none;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: 1300px;
  /* background-color:rgb(0, 0, 0 ); ; */
  background-color: rgba(0, 0, 0 ,0.5);
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  position: fixed;
  margin: 20% 20%;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  
}

/* The Close Button */
.close {
  color: #aaaaaa;
  position: fixed;
  top: 35%;
  right: 20%;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#edit{
  width: 30%;
  margin: 30px auto;
 
}
/* Beginning of NavBar */
.navbar{
  text-align: center;
  background-color: #6cb8b8;
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  /*border: 2px ridge #17a2b8;*/
  z-index: 10001;
}
.badge{
  width:20px;
  height: 20px;
  font-size: 15px;
  position: absolute;
  left: 200px;
  

}
/* End of navbar */
/* Beginning of the task entry  */
h1.title{
  font-size: 25;
  text-align: center;
  border-top: 30;
  font-size: 25;
  margin: 100px auto 0;
}
.main-content{
  width: 100%;
  height:100%;
  position: relative;
  padding: 20px;
}
.example-custom-input{
 background-color: #007bff;;
 position: absolute;
 padding: 2px;
 top: 30px;
 left: 0px;
 z-index: 1;

}
.taskDiv{
  margin:0 auto ;
  position: relative;
  width: 100%;
  padding: 5%;

}
#addTask{
  /*z-index: 0;*/
  font-size: 1rem;
  position: absolute;
  /*border-radius: 50% ;*/
  /*top: 18px;*/
  /*right: 0px;*/
  color:black;
  background-color: #6cb8b8;
  outline: none;
}
input.task-entry{
  color:black;
  border-radius: 5px;
  border: 1px solid #17a2b8;
  font-size: 1rem;
  padding: 20px;
  display: 'block';
  margin-left: -10px;
  width: 70%;
}
input.task-entry:focus,input.task-entry:hover {
  /*background: rgba(23, 162, 184);*/
  color: #000;
}

/* End of Task entry */
/*Beginning of Individual Task */
.date{
  margin-top: -10px;
  font-size: 10px;
  position: absolute;
}
.check-btn{
  margin-top: 10px;
 
}
.filters{
  text-align: center;
}
.filters a{
 margin: 10%;
}
.filters a:link, .filters a:visited{
  color: black
}
.filters a:hover, .filters a:focus{
  color: black;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid blue;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
.task{
  margin:5px auto ;
  position: relative;
  width: 80%;
  padding: 5px;
  background: rgba(23, 162, 184, 0.5);
  border-radius: 5px;
}
.task-value{
  width: 60%;
  height: 10px;
  padding: 5%;
  text-overflow: ellipsis ;
}
button.edit{
  border: 1px solid #17a2b8;
  box-sizing: border-box;
  width: 25px;
  height:30px;
  text-align: center;
  font-size: 10;
  color:black;
  background-color:transparent;
  position:absolute;
  right: 40px;
  bottom: 0px;
}
.fa-pencil{
  position: absolute;
  right: 5px;
  top: 2px;
}
button.delete{
  border: 1px solid rgb(23, 164, 186);
  box-sizing: border-box;
  width: 25px;
  height: 30px;
  text-align: center;
  font-size: 10;
  color:black;
  background-color:transparent;
  position:absolute;
  right: 0;
  bottom: 0px;
}
.fa-trash{
  position: absolute;
  right: 5px;
  top: 2px;
}
.delete:hover,.edit:hover,.delete:focus,.edit:focus{
  background-color: rgb(23, 164, 186);
}
.checked{
  position: absolute;
  font-size: 0.8rem;
  top: 0;
  right: 0;
}
/* End of Individual Task */

@media only screen and (min-width: 300px) and (max-width: 399px){
  input.task-entry{
    width: 85%;
    margin: 0 10px 0 ;
  }
}
@media only screen and (min-width: 400px) and (max-width: 767px){
  input.task-entry{
    width: 90%;
    margin: 0 10px 0 ;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
  *{
    font-size: 1.5rem;
  }
  .date{
   
    font-size: 0.8rem;
    
  }
  
  #addTask{
    top: 210px;
    right: 20%; 
  }
  input.task-entry{
    width: 55%;
    margin: 0 auto;
  }
  .task{
    
    padding: 10px;
    width: 50%;
    margin: 3px 25%;
  }
  .example-custom-input{
    background-color: #007bff;;
    position: absolute;
    padding: 2px;
    top: 50px;
    left: 150px;
    z-index: 1;
   
   }
}
@media only screen and (min-width: 1025px){
  *{
    font-size: 1.5rem;
  }
  .date{
    font-size: 0.8rem;
  }
  #addTask{
    top: 60px;
    right: 20%; 
  }
  input.task-entry{
    width: 55%;
    margin: 0 auto;
  }
  .task{
    /*padding: 10px;*/
    /*width: 50%;*/
    /*margin: 1% 25%;*/
    border-width: 1px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 10px 45px 0 rgba(0,0,0,.1);
    margin-bottom: 20px;
    padding: 40px 30px;
  }
  .example-custom-input{
    background-color: #007bff;;
    position: absolute;
    padding: 2px;
    top: 12vh;
    left: 21vw;
    z-index: 1;
   
   }
}
